body{
	margin:1;
	padding:0;
	background:url(../images/cloth.jpg);
	background-size:cover;
}
*{
	margin:0;
	padding:0;
}

.wrapper{
	width:100%;
	height:190px;
    background: rgb(0, 0, 7); /* Fallback color */
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(to bottom, #669999 1%, #999966 98%);
	margin:0 auto;
	
}
header{
	height:auto;
	width:100%;
	z-index:12;

}
.heading{
	width:40px;
	float:left;
	line-height:100px;
	letter-spacing:3px;
	color:#999970;
	text-shadow: 1px 1px 2px black, 0 0 45px black, 0 0 7px black;	font-style:unicorn;
	padding-left:10px;
}
nav{
	float:right;
	line-height:100px;
}
nav a{
	text-decoration:none;
	letter-spacing:4px;
	font-size:29px;
	margin:0 10px;
	color:white;
	font-family:bignoodletitling;
}
nav a:hover{
	
	color:#f4d03f;
}
.navmenu{
	height:25%;
	width:100%;
	
	
}
.navigation{
	width:100%;
	height:25%;
	float:left;
	  background: rgb(0, 0, 7); /* Fallback color */
  background: rgba(0, 0, 0, 0.7);
}
.navigation ul{
	padding:0;
}
.navigation ul li{
	list-style-type:none;
	display:inline-block;
	margin-left:15px;
	text-align:center;
	line-height:80px;
	
}
.navigation ul li a{
	text-decoration:none;
	font-size:21px;
	color:black;
	text-transform:uppercase;
	letter-spacing:2px;
	padding-left:3px;
}
.navigation ul li a:hover{
	cursor:pointer;
	color:#f4d03f;

}


/*login box style*/
.loginbox{
	border:1px solid black;
	border-radius:20px;
	width:400px;
	height:500px;
	background:#0A4D48;background: rgb(0, 0, 7); /* Fallback color */
    background: rgb( 40, 55, 71,0.8);
	Color:white;
	top:40%;
	left:50%;
	position:absolute;
	transform:translate(-50% -50%);
	box-sizing:border-box;
	padding:100px 30px;
}
.user{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	margin-right:50px;
	top:0;
	left:calc(50% -150px);
	text-align: center;
  margin: 20px 0 22px 0;

}
.loginbox input{
	width:100%;
	margin-bottom:20px;
}

.loginbox h1{
	margin:0;
    padding-top:30px;
	text-align:center;
	font-size:22px;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
	}
.loginbox input[type="text"],input[type="password"]{
	width: 100%;
  padding: 10px ;
  padding-right:50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;}
.loginbox input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.loginbox input[type="reset"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="reset"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.loginbox input[type="signup"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="signup"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.loginbox a{
	text-decoration:none;
	font-size:14px;
	line-height:20px;
	color:white;
}

.loginbox a:hover{	
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.ul1{

  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CB4335;

}
.li1 {
  float: left;
}

.li1 a {
  display: block;
  color: black;
  font-size:30px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.li1 a:hover{
	cursor:pointer; 
	background:#ffc107;
	color: black;
  
}
.registrationbox{
	width:500px;
	height:650px;
	background: rgb(0, 0, 7); /* Fallback color */
    background: rgb( 40, 55, 71,0.8);
	Color:white;
	
	top:30%;
	left:10%;
	position:absolute;
	transform:translate(-50% -50%);
	box-sizing:border-box;
	padding:50px 30px;
	
}
.registrationbox input{
	width:100%;
	margin-bottom:20px;
}


.registrationbox p{
	margin:0;
	padding:0;
	font-weight:bold;
	}
.registrationbox input[type="text"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;outline:none;
	height:40px;
	color:#fff;
    font-size:16px;}
.registrationbox input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.registrationbox input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.registrationbox input[type="reset"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.registrationbox input[type="reset"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.registrationbox input[type="signup"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.registrationbox input[type="signup"]:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}
.registrationbox a{
	text-decoration:none;
	font-size:14px;
	line-height:20px;
	color:white;
}

.registrationbox a:hover{	
	cursor:pointer;
	background:#ffc107;
	color:#000;
	}
.table td
	{
		font-size:20px;
		color:white;
	}
		
#submit_button {
 border:none;
	outline:none;
	height:30px;
	width:100px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
#submit_button:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}

.row input, textarea {
  background-color: #D3D3D3;
  color: black;
  width: 400px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 2px 2px #696969;
}
.row input{
height:30px;
}

.contactusbox{

	border:2px solid black;
	border-radius: 20px;
	width:500px;
	height:450px;
	background: rgb(0, 0, 7); /* Fallback color */
    background: rgb( 40, 55, 71,0.8);
	Color:white;
	font-size:20px;
	top:40%;
	left:30%;
	bottom:20%;
	position:absolute;
	transform:translate(-50% -50%);
	box-sizing:border-box;
	padding:50px 30px;
	letter-spacing:2px;
}
.forgotpassbox{

	border:2px solid black;
	border-radius: 20px;
	width:480px;
	height:350px;
	background: rgb(0, 0, 7); /* Fallback color */
    background: rgb( 40, 55, 71,0.8);
	Color:white;
	font-size:20px;
	top:40%;
	left:30%;
	bottom:20%;
	position:absolute;
	transform:translate(-50% -50%);
	box-sizing:border-box;
	padding:50px 30px;
	letter-spacing:2px;
}
#reset_button {
 border:none;
	outline:none;
	height:30px;
	width:100px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
#reset_button:hover{
	cursor:pointer;
	background:#ffc107;
	color:#000;
}


.bioimg{
	width:180px;
	height:160px;
	align:center;
	margin-left:43%;
	border:3px solid red;
	 border-radius: 25%;
}
.bioimg:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.subheading{
	text-align:center;
	font-size:30px;
}
.description{
    background: rgb(0, 0, 7); /* Fallback color */
    background: rgb( 40, 55, 71,0.7);
	font-size:14px;
	padding-top:1px;
	color:white;
	letter-spacing:2px;
}
.footer {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 30px;
	
 padding-bottom: 50px;
}

.footer-left ul {
    display: flex;
    margin-left: 100px;
    list-style-type: none;
}

.footer-left ul>li {
    margin: 20px 20px;
}

.footer-left span {
    margin-left: 120px;
    font-size: 12px;
}

.footer-left span a {
    font-size: 12px;
    text-transform: uppercase;
}

.footer a {
    text-decoration: none;
    font-family: 'Mali';
    font-size: 15px;
    color: #fff;
}

.footer a:hover {
    color: #C0C0C0;
}

.footer-right {
    text-align: right;
    margin-right: 20%;
}

.footer-right i {
    color: #fff;
    margin: 20px 20px;
    font-size: 30px;
}

.footer-right i:hover {
    color: #C0C0C0;
}

.footer-copyright {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 20px 20px;
}
/*footer*/
.footer{
	background-color:gray;
	color:blue;
	height:250px;
	position:relative;
}
.footer .footer-content{
    height:200px;	
	display:flex;
	padding-left:20px;
}
.footer .footer-content .footer-section{
	flex:1;
	padding:25px;
}
.footer .footer-content .about .contact span{
	display:block;
	font-size:20px;;
	margin-bottom:8px;
	
}
.footer .footer-content .about .socials a{
	border:1px solid gray;
	width:45px;
	height:41px;
	font-size:30px;
	padding-top:5px;
	margin-right:5px;
	text-align:center;
	display:inline-block;
	border-radius:5px;
	color:white;
}
.footer .footer-content .about .socials a :hover{
	cursor:pointer;
	color:black;
	border:1px solid black;
}
.footer .footer-bottom{
	background-color:black;
	height:50px;
	color:white;
	text-align:center;
	position:absolute;
	bottom:0px;
	left:0px;
	padding-top:12px;
	width:100%;
	font-size:20px;
}



	




	

	
	